services:
  postgres:
    image: postgres:14.6
    platform: linux/x86_64
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Asia/Tokyo
      POSTGRES_TZ: Asia/Tokyo
      
    volumes:
      - data-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  api:
    build: .
    ports:
      - "8080:8080"
    tty: true
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  data-volume:
